/* start flex */
.d-flex{
    display: flex;
}
.flex-15{
    flex: 0.15;
}
.flex-85{
    flex: 0.85;
}
.flex-col{
    flex-direction: column;
}
.center-between{
    align-items: center;
    justify-content: space-between;
}
/* End flex */
/* Start color */
.c-black{
    color: black;
}
.c-grey{
    color: #888;
}
/* End color */
/* Start paddings */
.p-20{
    padding: 20px;
}
.p-10{
    padding: 10px;
}
.p-5{
    padding: 5px;
}
/* End paddings */
/* start margins */
.m-20{
    margin: 20px;
}
.m-top-60{
    margin-top: 60px;
}
.m-left-30{
    margin-left: 30px;
}
.m-right-10{
    margin-right: 10px;
}
/* End margins */
/* start postions */
.p-rel{
    position: relative;
}
.p-abs{
    position: absolute;
}
/* End postions */
.bg-white{
    background-color: white;
}
/* Start borders */
.r-10{
    border-radius: 10px;
}
.border-none{
    border: none;
}
/* End borders */
/* Strat text-align */
.t-center{
    text-align: center;
}
.t-start{
    text-align: start;
}
/* End text-align */
/* Start text */
.font-14{
    font-size: 14px;
}
.font-24{
    font-size: 24px;
}
/* End text */
/* Star width */
.w-100{
    width: 100%;
}
.w-80{
    width: 80%;
}
.max-100{
    max-width: 100%;
}
/* End width */
/* Start height */
.h-50{
    height: 50px;
}
/* End height */
/* Start transitions */
.transition{
    transition: all 0.3s ease-in-out;
}
/* End transitions */
/* start shadows */
.shadow-2{
    box-shadow: 0 0 10px rgba(1, 1, 1, 0.2);
}
/* End shadows */
/* start overflow */
.overflow-hide{
    overflow: hidden;
}
/* End overflow */
/* start cursor */
.pointer{
    cursor: pointer;
}
/* End cursor */
/* start main-title */
.main-title{
    padding: 10px;
    font-size: 24px;
    top: -20px;
}
.main-title .line {
    position: absolute;
    width: 150px;
    height: 3px;
    background-color: white;
    top: 100px;
}
.main-title .line .fill{
    background-color: black;
    height: 100%;
}
/* End main-title */
/* start content */
.main-content{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    gap: 40px;
}/* Small */
@media (min-width: 768px) {
.main-content {
    width: 750px;
}
}
/* Medium */
@media (min-width: 992px) {
.main-content {
    width: 970px;
}
}
/* Large */
@media (min-width: 1200px) {
.main-content {
    width: 100%;
}
}
.box{
    background-color: white;
    border-radius: 15px;
    min-height: 400px;
}

/* End content */
/* Start btn */
.btn{
    padding: 10px;
    background-color: #0075ff;
    color: white;
    border-radius: 10px;
}
/* End btn */
/* span */
span{
    color: #888;
}